
// @import 'color_font';
.signup_section
{
    background:$blue_green_mix;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

.container
{
    // background-color: red;
    width: 40%;
    // position: relative;
    box-shadow:  0 -10px 10px rgba(255, 255, 255, 0.1),
    inset 0 -10px 10px rgba(255,255,255,0.1),
     0 10px 10px rgba(0,0,0,0.2),
     inset 0 10px 10px rgba(0,0,0,02);
    // background:url(image/collect2.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    border-radius: 10px;
    min-height: 520px;
    
    
    header{
        width: 100%;
        min-height: 12vh;
        // background: green;

        display: flex;
    justify-content: center;
    padding: 1.3em;
    align-items: center;
    h1{
        color: $white_color;
        padding:7px 20px 7px 20px;
        border-radius: 5px;
        font-size: 16px;
        font-family: $font2;
        letter-spacing: 1px;
        box-shadow:  0 -10px 10px rgba(255, 255, 255, 0.1),
    inset 0 -10px 10px rgba(255,255,255,0.1),
     0 10px 10px rgba(0,0,0,0.2),
     inset 0 10px 10px rgba(0,0,0,02);
        // border: 1px solid $white_color;
    }
    }


main{
    // background: pink;
    width: 100%;
    min-height:50vh;
    display: flex;
    flex-direction: column;
    

    .username
    {
        flex:1;
        // background:$pink_color;
        // width: 200px;
        display: flex;
        flex-direction: column;
       
        padding: .9em .9em .2em .9em;
        // label{
        //     transform: translateY(10px);
        //     display: none;
        // }
        .user{
            border: none;
            padding: .8em;
            border-radius: 5px;
            // border-bottom: 1px solid black;
            // // border-color: skyred;
            // background-color: skyred;
            background-color: $blue_green_mix;
            box-shadow:  0px -10px 5px rgba(255, 255, 255, 0.1), 0px 15px 15px rgba(0,0,0,0.2);
            outline: none;
            color: $white_color;
            font-family: $font1;
           font-size: 16px;
           font-family: $font2;
           font-weight:bold;
           letter-spacing: 1px;

        }
        .warn-user{
            margin-left: 15px;
            color: rgb(88, 9, 9);
            font-family: $font2;
            font-weight: bold;
        }
        .user::placeholder
        {
            color: $white_color;
        }
        // .user:focus label
        // {
        //     transform: translateY(-18px);
        //     display: block;
        // }
       

    }
    .user:focus{
        background-color: $orange_color;
        color: rgb(8, 7, 7);
        font-weight: bold;
        color: $white_color;
    }
    .email
    {
        flex:1;
        // background:$blue_green_mix;
        display: flex;
        flex-direction: column;
        // transition: .3s;
        
        padding: .9em .9em .2em .9em;
        .mail{
            border: none;
            // border-bottom: 1px solid black;
            padding: .8em;
            border-radius: 5px;
            outline: none;
            color: $white_color;
            box-shadow:  0px -10px 5px rgba(255, 255, 255, 0.1), 0px 15px 15px rgba(0,0,0,0.2);
            background-color: $blue_green_mix;
            font-size: 16px;
            font-family: $font2;
            font-weight:bold;
            letter-spacing: 1px;
            
        }
        .warn-mail{
            margin-left: 15px;
            color: rgb(85, 0, 0);
            font-family: $font2;
            font-weight: bold;
        }
        .mail::placeholder
        {
            color: $white_color;
        }
        .mail:focus{
            background-color: $orange_color;
            color: rgb(8, 7, 7);
            font-weight: bold;
            color: $white_color;
        }
    }
    .password
    {
        flex: 1;
        // background: $white_color;
        display: flex;
        padding: .9em .9em .2em .9em;
        flex-direction: column;
        .pass{
            border: none;
            padding: .8em;
            color: $white_color;
            border-radius: 5px;
            // border-bottom: 1px solid black;
            outline: none;
            box-shadow:  0px -10px 5px rgba(255, 255, 255, 0.1), 0px 15px 15px rgba(0,0,0,0.2);
            background-color: $blue_green_mix;
            font-size: 16px;
            font-weight: bold;
            font-family: $font2;
            letter-spacing: 1px;
        }
        .warn-pass{
            margin-left: 15px;
            color: rgb(85, 0, 0);
            font-family: $font2;
            font-weight: bold;
        }
        .pass::placeholder
        {
            color: $white_color;
        }
        .pass:focus{
            background-color: $orange_color;
            color: rgb(8, 7, 7);
            font-weight: bold;
            color: $white_color;
        }
        .div1
        {
            width: 11px;
            height:12px;
            
            border-top: 2px solid blue;
            border-left: 2px solid blue;
           
               transform: rotate(45deg);
               border-radius: 240px;
         
        }
        .div2
        {
            width: 20px;
            
            border:1px solid blue;
           
            transform: rotate(45deg);
          
           
           
        }
        .div3
        {
            width: 8px;
            height:12px;
            border: 1px solid transparent;
            
           
           
            
            
            // display:none;
        }
    }
    .confirm
    {
        flex: 1;
        // background: violet;
        display: flex;
        flex-direction: column;
         
        padding: .9em .9em .2em .9em;
        .con-pass{
            border: none;
            // border-bottom: 1px solid black;
            padding: .8em;
            border-radius: 5px;
            color: $white_color;
            outline: none;
            box-shadow:  0px -10px 5px rgba(255, 255, 255, 0.1), 0px 15px 15px rgba(0,0,0,0.2);
            background-color: $blue_green_mix;
            font-size: 16px;
            font-family: $font2;
            font-weight: bold;
            letter-spacing: 1px;
            
        }
        .warn-con{
            margin-left: 15px;
            color: rgb(85, 0, 0);
            font-family: $font2;
            font-weight: bold;
        }
        .con-pass::placeholder
        {
            color: $white_color;
        }
       
            .con-pass:focus{
                background-color: $orange_color;
                color: rgb(8, 7, 7);
                font-weight: bold;
                color: $white_color;
            }
        
       
    }}
    footer{
     
       width: 100%;
       min-height: 20vh;
        // background: chartreuse;
        display: flex;
        flex-direction: column;

        .forget{
            flex: 1.5;
            display: flex;
            justify-content:flex-end;
            align-items: center;
            margin-right: 20px;
            // background: $orange_color;

            // // background-color: blue;
           .check{
               flex: 1;
            //    background: red;
               display: flex;
               justify-content: flex-start;
               align-items: center;
               .remember{
                   margin-left: 20px;
                
                 
               }
               label{
                   margin-left: 5px;
                   color: $white_color;
                   font-size: 14px;
                   font-family: $font2;
               }
           }
           .for-pass{
               flex: 1;
            //    background: violet;
               display: flex;
               justify-content: flex-end;
               align-items: center;
               a{
                   color: $orange_color;
                   font-family: $font2;
                   font-size: 14px;
                   letter-spacing: 1px;
               }
           }
        }
        .login{
            flex: 1.5;
            // background-color: blueviolet;

            display: flex;
            justify-content: center;
            align-items: center;
           
            .sign{
                font-size: 18px;
                font-family: $font2;
                padding:7px 15px 7px 15px;
                box-shadow:  0px -10px 5px rgba(255, 255, 255, 0.1), 0px 15px 15px rgba(0,0,0,0.2);
                letter-spacing: 1px;
                border: 2px solid $orange_color;
                color: $orange_color;
                border-radius: 10px;
                // background: red;
                cursor: pointer;
                font-weight: bold;
                background-color: $blue_green_mix;
                outline:none;
            }
            .sign:hover{
                background-color: $orange_color;
                color: $white_color;
            }
        }
       
        .account{
            flex: 1.5;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: brown;

            p{
                color: $white_color;
                font-size: 16px;
                font-family: $font2;
            }
            a{
                color: $orange_color;
                font-size: 18px;
                letter-spacing: 1px;
                // text-decoration: blanchedalmond;

            }
        }
    }

}}



